<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/tx
	    http://www.springframework.org/schema/tx/spring-tx.xsd
        http://www.springframework.org/schema/aop
		http://www.springframework.org/schema/aop/spring-aop.xsd">

	<context:component-scan base-package="com.j3l11234.lovepet.*" />
	<context:annotation-config />

	<aop:aspectj-autoproxy />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/view/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<mvc:view-controller path="/" view-name="redirect:/index.jsp" />
	<mvc:annotation-driven />
	<mvc:default-servlet-handler />

	<!-- 数据源配置 -->
		<bean id="proxoolDataSource" class="org.logicalcobwebs.proxool.ProxoolDataSource">
		<property name="driver" value="com.mysql.jdbc.Driver"/>
		<property name="driverUrl" value="jdbc:mysql://localhost:3306/lovepet?useUnicode=true&amp;characterEncoding=utf8"/>
		<property name="user" value="root"/>
		<property name="password" value=""/>
        <property name="houseKeepingTestSql" value="select CURRENT_DATE"/>
        <property name="houseKeepingSleepTime" value="30000"/> 
		<property name="prototypeCount" value="2"/>
		<property name="maximumActiveTime" value="300000"/>
		<property name="maximumConnectionLifetime" value="3600000"/>
		<property name="minimumConnectionCount" value="2"/>
		<property name="maximumConnectionCount" value="10"/>
		<property name="simultaneousBuildThrottle" value="10"/>
	</bean>
	
	<!-- sessionFactory配置 -->
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="proxoolDataSource" />
		<property name="namingStrategy">
			<bean class="org.hibernate.cfg.ImprovedNamingStrategy" />
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.MySQLDialect</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.jdbc.batch_size">50</prop>
			</props>
		</property>
		
		<!-- 配置自动扫描 -->
		<property name="packagesToScan" value="com.j3l11234.lovepet.entity" />
	</bean>
	<!-- transactionManager配置 -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>

	<tx:annotation-driven transaction-manager="transactionManager" />

</beans>